{% extends "base.html" %}
{% load static %}

{% block title %}
Fortaleza Node | NEXO NODE
{% endblock %}

{% block extra_css %}
<link
    rel="stylesheet"
    href="{% static 'world/css/city.css' %}"
>
{% endblock %}

{% block content %}

<div class="game-shell">

    <header class="game-header">

        <div>

            <p class="game-brand">
                NEXO NODE // v2
            </p>

            <h1>
                Fortaleza Node
            </h1>

        </div>


        <div class="operator-hud">

            <span>
                {{ request.user.network_id }}
            </span>

            <strong>
                {{ request.user.faction.name }}
            </strong>

        </div>

    </header>


    <main class="game-viewport">

        <canvas
            id="game-canvas"
            aria-label="Fortaleza Node"
        >
        </canvas>

    </main>


    <footer class="game-statusbar">

    <span>
        WORLD:
        <strong>ONLINE</strong>
    </span>

    <span class="game-controls">
        MOVIMENTO:
        <strong>
            WASD / SETAS
        </strong>
    </span>

    <span>
        FPS:
        <strong data-game-fps>
            --
        </strong>
    </span>

</footer>

</div>


{{ game_operator|json_script:"game-operator-data" }}
{{ game_world|json_script:"game-world-data" }}


<script
    type="module"
    src="{% static 'world/js/game.js' %}"
>
</script>

{% endblock %}