{% extends "base.html" %}

{% block title %}
Fortaleza Node
{% endblock %}

{% block content %}

<section class="terminal">

    <p class="terminal-label">
        NEXO NODE // FORTALEZA NODE
    </p>

    <h1>
        Cidade Liberada
    </h1>

    <p>
        Operador:
        <strong>
            {{ request.user.network_id }}
        </strong>
    </p>

    <p>
        Factrion:
        <strong>
            {{ request.user.faction.name }}
        </strong>
    </p>

    <p>
        Apresentação:
        <strong>
            {{ request.user.get_presentation_display }}
        </strong>
    </p>

    <p>
        Camiseta:
        <strong>
            {{ request.user.get_shirt_color_display }}
        </strong>
    </p>

    <div class="network-message">
        IDENTIDADE DO OPERADOR CONCLUÍDA.
    </div>

    <p class="status">
        ACESSO A FORTALEZA NODE AUTORIZADO
    </p>

</section>

{% endblock %}