{% extends "base.html" %}

{% block title %}
Teste Cognitivo | NEXO NODE
{% endblock %}

{% block content %}

<section class="terminal">

    <p class="terminal-label">
        NEXO NODE // ANÁLISE COGNITIVA
    </p>

    <h1>
        Teste Cognitivo
    </h1>

    <p>
        Operador:
        <strong>
            {{ request.user.network_id }}
        </strong>
    </p>

    <p>
        Factrion:
        <strong>
            {{ request.user.faction.name }}
        </strong>
    </p>

    <div class="network-message">
        IDENTIDADE SOCIAL REGISTRADA.
    </div>

    <p class="status">
        PREPARANDO ANÁLISE COGNITIVA...
    </p>

    <p>
        Módulo disponível na Sprint 004.
    </p>

</section>

{% endblock %}